<h1 x-large class="sample-content">Dice Rolling Tool</h1>
<div class='infoBar'>
  <span *ngIf='username!==""'>Welcome, {{username}}</span>
</div>
<div class='rollInput'>
  <form (ngSubmit)="submitRoll()" [formGroup]="RollSubmitForm" id="rollSubmitForm" novalidate>
    <div class="form-group">
      <label>Name:
        <input pInputText class="form-control" formControlName="name">
      </label>
      <label>Reason:
        <input pInputText class="form-control" formControlName="reason">
      </label>
      <label>Number of Dice:
        <input pInputText class="form-control" formControlName="noOfDice">
      </label>
      <label>Dice Face:
        <input pInputText class="form-control" formControlName="diceFace">
      </label>
      <label>Adjustment:
        <input pInputText class="form-control" formControlName="adjustment">
      </label>
    </div>
    <button pButton type="submit" label="Roll!" [disabled]="RollSubmitForm.status!=='VALID'"></button>
  </form>
</div>
<div class='rollLog'>
<p-dataList [value]="rollLogList">
  <ng-template let-rollLog pTemplate="item">
    {{rollLog.name}} ({{rollLog.name}}) roll for "{{rollLog.reason}}", yielding "{{rollLog.diceResult.join(', ')}}" with a total of {{rollLog.sum}}
  </ng-template>
</p-dataList>
</div>
<div class='userList'>
  <p-dataTable [value]="userList">
    <p-column field="name" header="Logged In User"></p-column>
  </p-dataTable>
</div>

<div class='clear'></div>

<p-dialog header="Login" modal="true" closeOnEscape="false" closable="false" [(visible)]="isLoginDialogVisible">
  Please input your player name:
  <input type="text" pInputText name="username" [(ngModel)]="username" />
  <button pButton type="button" label="Login" (click)='checkLogin()' [disabled]="isConfirmButtonDisabled()"></button>
</p-dialog>
